@use 'shared/css/mixins.scss' as *;


.user {
  @include size(100%, 78px);
  cursor: pointer;
  transition: background 200ms;

  &:hover {
    background: #FAFAFA;
  }

  .wrapper {
    @include size(90%);
    margin: 0 auto;
    @include flex(stretch, center);

    .image {
      position: relative;
      @include size(48px, 48px);
      border-radius: 100%;
      margin-right: 17px;
      overflow: hidden;
    }

    .info {
      @include size(75%, 48px);

      span {
        color: $light-grey;
        display: block;
        font-size: 15px;
        width: 90%;
      }
    }


    .time {
      @include flex(48px);
      @include flex(stretch, end, column);

      span {
        color: $light-grey;
        font-size: 14px;
        margin-bottom: 6px;
      }

      .new_message {
        @include size(18px, 18px);
        border-radius: 100%;
        background: #78E378;
        @include flex(center, center);
        @include inlineStyles(12px, white);
      }
    }
  }
}



