@use 'shared/css/mixins' as *;

.product_params {
  @include itemBorder;
  @include size(74%, 618px);

  .header {
    @include size(100%, 36px);
    border-bottom: $br $light;

    h4 {
      color: $blue;
      margin-top: 16px;
      margin-left: 16px;
    }
  }

  .wrapper {
    * {
      color: $dark-grey;
    }

    @include padding(16px, 22px);

    .description {
      @include size(70%, 168px);
      margin-bottom: 27px;
    }

    .advantage {
      margin-top: 26px;

      svg {
        margin-right: 5px;
      }
    }
  }
}
