@use 'public/mixins' as *;


.search_form {
  @include size(100%, 420px);
  @include padding(40px, 40px);
  border-radius: $rounded;
  margin-top: 20px;
  position: relative;
  box-sizing: border-box;
  background: linear-gradient(to right, #09C6F9, #045DE9);


  .title {
    margin-bottom: 20px;
    width: 400px;
    @include inlineStyles($lmedium, white, bold);
  }

  .description {
    color: white;
    width: 400px;
  }

}
