@use 'shared/css/common.scss' as *;

.no_products{
  margin: 90px auto;
  text-align: center;
  @include inlineStyles($small-md, $hover-100);
  h2{
    margin: 0;
  }
  svg{
    @include size(68px,68px);
    font-weight: normal;
    margin-top: 24px;
  }

}
