@use 'shared/css/common.scss' as *;


.container {
  margin: 0 auto 30px;
  @include itemBorder;
  position: relative;
  height: 570px;
  padding-bottom: 20px;
  @include flex(stretch,center,column);
  @media (max-width: 560px) {
    margin-top: 0;
    height: max-content;
  }
}

.title {
  @include inlineStyles(35px, $bg-100);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 32px;
  svg{
    @include size(30px,30px);
    margin-right: 3px;
    @media (max-width: 560px) {
      @include size(27px,27px);
    }
  }
  @media (max-width: 560px) {
    font-size: 28px;
  }
}

.text {
  width: 65%;
  font-size: $small-md;
  color: $color-absolute-200;
  text-align: center;
  margin: 0 auto 30px;
  @media (max-width: 560px) {
    font-size: 22px;
    margin-bottom: 0;
  }
}

.image_wrapper {
  //@include imageWrapper(35%, 270px);
  margin: 30px auto 70px;
  svg{
    @include size(200px,200px);
    color: $color-absolute-200;
    @media (max-width: 560px) {
      @include size(150px,150px);
    }
  }
}

.link {
  text-align: center;
  margin-top: 50px;

}
