@use 'shared/css/mixins.scss' as *;

.recommended_items {
  @include size(100%, 700px);
  margin-top: 20px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 38px;

  .items_block {
    @include size(80%);
    margin: 0 auto;
    @include grid(5, 2, 20px, 18%);
  }
}
