@use 'shared/css/common.scss' as *;

.profile_header {
  width: 83%;
  margin: 30px auto 20px auto;
  @include itemBorder;
  .profile_background {
    @include size(100%,360px);
    position: relative;
    .image_wrapper{
      @include imageWrapper(100%, 100%, $rounded);
      margin: 0 auto;
    }
    background: $color-300;


    button {
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 1;
      @include size(210px, 32px);
      opacity: 0.6;
      transition: opacity 200ms;

      &:hover {
        opacity: 1;
      }

      svg {
        margin-right: 3px;
      }
    }
  }

  .info_block {
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    @include size(100%, 123px);
    display: flex;

    .avatar {
      @include imageWrapper(170px, 170px, 100%);
      border: 3px solid $bg-150;
      margin-left: 20px;
      margin-top: -7%;
      background: $bg-absolute;
    }

    .user_info {
      @include size(25%);
      margin-left: 20px;

      .user_name {
        @include inlineStyles($small-md, $bg-100, bold);
      }

      .description {
        @include inlineStyles($small, $bg-300);
        margin-top: 10px;
        position: relative;
      }
    }

    .change_profile {
      @include size(18%, 50px);
      @include flex(flex-end);
      position: absolute;
      right: 28px;
      top: 20px;

      button {
        @include size(183px, 33px);
      }
    }

  }

}
