@use 'shared/css/common.scss' as *;

.github_banner {
  @include size(100%, 110px);
  padding: 30px;
  margin-bottom: 40px;
  margin-top: 40px;
  border-radius: $rounded;
  box-sizing: border-box;
  @include flex(space-between, center);
  background: #005ADE;
  transition: background 200ms;

  &:hover {
    background: #1464d7;
    //005ADE
  }

  * {
    color: white;
  }

  h2 {
    font-size: $small-md;
    margin-bottom: 4px;
  }

  button {
    width: 121px;
  }


}
