@use 'shared/css/common.scss' as *;

.item {
  @include itemHover;
  @include size(375px);
  transition: background 200ms;

  &:hover {
    background: $bg-absolute-hover;
  }

  background: $bg-absolute;
  border-radius: 8px;
  border: 2px solid $bg-150;

  .item_image {
    background-size: 100% 100%;
    background-repeat: no-repeat;

    @include size(100%, 180px);
    position: relative;

    .item_button {
      border-radius: 100%;
      border: 2px solid $bg-absolute;
      @include size(55px, 55px);
      background: #D1E7FF;
      @include flex(center, center);
      position: absolute;
      right: 21px;
      bottom: -17px;

      svg {
        @include size(24px, 24px);
      }
    }
  }

  .item_title {
    margin-left: 9px;
    margin-top: 8px;
    color: $color-absolute-200;
    font-size: 17px;

    svg{
      @include size(20px,20px);
      margin-right: 4px;
      margin-bottom: -4px;
    }
  }
}
