@use 'shared/css/mixins.scss' as *;

.messages_header {
  @include size(100%, 68px);
  background: white;
  @include flex(space-between, center);
  padding-left: 22px;
  padding-right: 22px;
  box-sizing: border-box;
  transition: background 200ms;
  border-bottom: $br $light;

  &:hover {
    background: #FAFAFA;
  }

  .icon_wrapper {
    svg {
      color: $light-grey;
      @include size(24px, 24px);
    }
  }
}
