@use 'shared/css/common.scss' as *;

.messages_header {
  @include size(100%, 68px);
  background: $bg-absolute;
  @include flex(space-between, center);
  padding-left: 22px;
  padding-right: 22px;
  box-sizing: border-box;
  transition: background 200ms;
  border-bottom: $br $bg-150;

  &:hover {
    background: $bg-absolute-hover;
  }

}
