@use 'shared/css/common.scss' as *;

.search_item {
  @include itemHover;
  @include size(100%, 230px);
  border-radius: $rounded;
  margin-top: 20px;
  border: 1px solid $bg-150;
  @include flex(stretch, center);
  position: relative;
  background: $bg-absolute;

  img {
    cursor: pointer;
    border-radius: $rounded;
    margin-left: 10px;
  }

  .info_block {
    @include size(55%, 90%);
    margin-left: 20px;

    .price {
      @include inlineStyles($xm, $bg-100, bold);
      margin-top: 16px;
    }
  }

}
