@use 'shared/css/mixins.scss' as *;

.search_item {
  @include itemHover;
  @include size(100%, 230px);
  border-radius: $rounded;
  margin-top: 20px;
  border: 1px solid $light;
  @include flex(stretch, center);
  position: relative;
  background: white;

  img {
    cursor: pointer;
  }

  .info_block {
    @include size(55%, 90%);

    .price {
      @include inlineStyles($xm, $dark, bold);
      margin-top: 16px;
    }
  }

}
