@use 'shared/css/common.scss' as *;
@use '../../../../shared/css/common' as *;

.you_may_like {
  @include itemBorder;
  @include size(19%, 553px);
  @include padding(16px, 20px);

  margin-left: auto;


  .heading {
    font-weight: bold;
    margin-bottom: 14px;
    color: $color-absolute;
  }

  @media (max-width: 1514px) {
    display: none;
  }

}
