@use 'shared/css/common.scss' as *;

.product_params {
  @include itemBorder;
  @include size(74%, 575px);

  .header {
    @include size(100%, 36px);
    border-bottom: $br $bg-150;

    h4 {
      color: $link-color;
      margin-top: 16px;
      margin-left: 16px;
    }
  }

  .wrapper {
    * {
      color: $bg-200;
    }

    @include padding(16px, 22px);

    .description {
      width: 70%;
      min-height: 70px;
    }

  }
}
