@use 'shared/css/common.scss' as *;


.cart_container {
  width: 100%;
  display: flex;

  .cart_layout {
    width: 100%;
    @include itemBorder;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;

    .item {
      @include size(100%, 140px);
      margin-bottom: 23px;
      display: flex;
      border-bottom: $br $bg-150;

    }

  }

  .checkout_block {
    @include itemBorder;
    box-shadow: $shadow;
    @include size(16%);
    margin-left: 20px;
    padding: 20px;

    p {
      margin-top: 0;
      margin-bottom: 25px;
      color: $bg-200;
    }

    .total_block {
      border-bottom: $br $bg-150;
      padding-bottom: 10px;
      @include flex(space-between);
      @include size(100%, 28px);
      margin-bottom: 18px;

      h4 {
        font-weight: bold;
        font-size: 19px;
      }
    }

    .checkout_button {
      @include size(100%, 54px);
      margin-bottom: 10px;
      font-size: 18px;
    }

  }
}
