@use 'shared/css/common.scss' as *;


.purchase_block {
  @include size(18%);
  margin-left: 20px;
  padding: 15px;
  box-sizing: border-box;

  .purchase_card {
    padding: 17px;
    border: $br $bg-150;
    border-radius: $rounded;
    @include size(100%, 325px);

    .purchase_supplier {
      @include size(100%, 65px);
      @include flex();
      border-bottom: $br $bg-150;
      margin-bottom: 11px;
      color: $color-absolute;
      img{
        border-radius: $rounded;
      }

      h2 {
        margin-left: 11px;
      }

      * {
        cursor: pointer;
      }
    }

    .supplier_params {
      margin-bottom: 11px;
      display: block;
      color: $bg-300;

      svg {
        margin-right: 16px;
      }
    }

    button {
      margin-top: 8px;
      @include size(100%, 40px);

      &[class*="outlined_button"] {
        color: $link-color;
      }
    }
  }

}
