@use 'shared/css/common.scss' as *;
@import 'lib/custom_material_ui.css';
@import "templates.scss";
@import 'themes.scss';

.layout{
    background: $color-300;
    color: $color-absolute;
}

* {
  font-size: 16px;

}


body, input {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body.error{
    background: #f7f7f7;
}

input {
  outline: none;
}

button, select, option, svg, path, a {
    outline: none;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

h2 {
    font-size: 16px;
    font-weight: normal;
}

#active {
    font-weight: 600;
    color: $color-absolute;
}

.search_page, .product_page {
    display: flex;
    width: 100%;
    height: 1560px;
}
.search_page{
    height: 1100px;
}

.product_page {
    justify-content: space-between;
    width: 100%;
    height: 670px;

}

.messenger_page {
    display: flex;
    margin-top: 45px;
    margin-bottom: 60px;
    border: 1px solid $bg-150;
    border-radius: $rounded;
    overflow: hidden;
}

.cart_page {
    width: 100%;
    display: flex;
}



