@use '../../shared/css/common' as *;


.container {
  width: 90%;
  min-height: 1000px;
  margin: 0 auto;
}

.typo {
  color: $bg-100;
  font-size: $small;
  font-weight: bold;
}

.typo_grey {
  font-weight: normal;
  font-size: $small;
  color: $bg-200;
}

.blue_link {
  background-image: linear-gradient(to right, $link-color, $link-color 50%, $link-color 50%) !important;
  font-size: $small;
}


.primary_button, .outlined_button, .orange_button, .green_button
,.red_button{
  text-align: center;
  @include inlineStyles($small, $bg-absolute);
  height: 38px;
  background: $link-color;
  border-radius: $rounded;
  transition: background 200ms;
  display: block;
  color: $color-absolute;

  &:hover {
    background: $link-color-hover;
  }
}

.primary_button{
  color: white;
}


.outlined_button {
  background: $bg-absolute;
  color: $color-absolute;
  box-shadow: $shadow;
  border: $br $bg-150;
  transition: background 200ms;

  &:hover {
    background: $bg-absolute-hover;
  }
}
.outlined_button.disabled{
  color: $bg-300;
  box-shadow: none;
}

.orange_button {
  background: $orange;

  &:hover {
    background: #FE8604;
  }
}

.green_button {
  background: $green;

  &:hover {
    background: #03A718;
  }
}
.red_button{
  background: $red;
  &:hover {
    background: #FE4D4D;
  }
}

.primary_select {
  border: 2px solid $link-color;
  border-left-width: 1px;
  font-size: 16px;
  padding-left: 5px;

  * {
    font-size: 16px;
    background-color: rgb(247, 247, 247);
    height: 50px;
    padding: 15px;
    border: 1px solid rgb(41, 18, 18);
  }
}

.dark_title {
  @include inlineStyles($small_md, $bg-100, bold);
  margin-bottom: 24px;
  margin-top: 14px;
}

.hover_link {
  cursor: pointer;
  background-image: linear-gradient(
                  to right,
                  $link-color,
                  $link-color 50%,
                  $color-absolute 50%
  );

  svg {
    color: $bg-100;
  }

  &:hover {
    svg {
      color: $link-color;
    }

  }

  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;

  &:before {
    content: '';
    background: $link-color;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    background-position: 0;
  }

  &:hover:before {
    width: 100%;
  }
}
.search_head {
  color: $bg-300;
  margin-top: 20px;
  margin-bottom: 20px;
}

.color_green {
  color: #00B517;
}

.color_red {
  color: $red;
}
.users_page{
  min-height: 700px;
}
