.layout.theme-light{
  --bg-100: #1C1C1C;
  --bg-300: #8B96A5;
  --link-color: #0D6EFD;
  --link-blue-white: #0D6EFD;
  --link-color-hover: #1C6FD0;
  --hover-100: #888F98;
  --bg-150: #E0E0E0;
  --bg-absolute: #fff;
  --bg-150-hover: #A8A8A8;
  --bg-200: #505050;
  --link-color-light: #E3F0FF;
  --color-100: #E3E8EE;
  --green: #00B517;
  --orange: #FF9017;
  --red: #FA3434;
  --color-max: #FAFAFA;
  --color-300: #F7FAFC;
  --color-absolute: #171717;
  --color-absolute-200: #3a3a3a;
  --bg-light-blue: #E3E8EE;
  --bg-absolute-hover: #dcdcdc;
}
//e1e3e6
//
.layout.theme-dark{
  --bg-100: #eaeaea;
  --bg-300: #e3e3e3;
  --link-color: #a154e8;
  --link-color-hover: #a76ce5;
  --hover-100: #888F98;
  --bg-150: #2f2f2f;
  --bg-150-hover: #414141;
  --bg-200: #c9c9c9;
  --link-color-light: #E3F0FF;
  --color-100: #E3E8EE;
  --green: #00B517;
  --orange: #FF9017;
  --red: #FA3434;
  --color-max: #FAFAFA;
  --color-300: #272727;
  --bg-absolute: #171717;
  --color-absolute: #fff;
  --color-absolute-200: #d5d5d5;
  --bg-light-blue: #211f1f;
  --link-blue-white: #fff;
  --bg-absolute-hover: #1c1c1c;
}
