@use 'styles/variables' as *;

.profile_wall{
	width: 90%;
	margin: 0 auto;
	padding: 15px;
	box-sizing: border-box;
	@include itemBorder;
	margin-bottom: 40px;
	padding-bottom: 30px;
	.content_buttons{
		@include size(100%,40px);
		@include flex(flex-start,center);
		padding-bottom: 10px;
		border-bottom: $br $light;
		position: relative;
		button{
			background: white;
			font-size: 16px;
			color: $light-grey;
			transition: color 200ms;
			margin-right: 10px;
			border-radius: $rounded;
			height: 28px;
			&:hover{
				color: $blue;
			}
			svg{
				@include size(18px,18px);
			}

		}
		.add_product{
			position: absolute;
			right: 0;
			top: 0;
			button{
				@include size(167px,33px);
				svg{
					@include size(16px,16px);
					margin-right: 2px;
				}
				color: $dark;
			}
		}

		.selected{
			box-shadow: $shadow;
			border: $br $light;
			color: $blue;
		}
	}
	.content_block{
		width: 100%;
		.not_found_title{
			text-align: center;
			margin-top: 70px;
			margin-bottom: 70px;
			@include inlineStyles($small-md,$light-grey);
		}
		.post{
			width: 100%;
			min-height: 157px;
			padding: 25px 25px 25px 25px;
			position: relative;
			display: flex;
			*{
				//@include testBorder;
			}
			border-bottom: $br $light;
			box-sizing: border-box;
			.user_image{
				@include imageWrapper(60px,60px,100%);
				margin-right: 10px;
			}
			.user_info{
				width: 90%;
				margin-left: 7px;
				.user_name{
					font-weight: bold;
					span{
						@include inlineStyles($small,$light-grey,normal);
					}
				}
				.post_text{
					margin-top: 7px;
					max-width: 80%;
				}
				.attached_image{
					@include imageWrapper(80%,300px,$rounded);
					margin-top: 15px;
					margin-bottom: 15px;
				}
				.post_buttons{
					display: flex;
					width: 100%;
					height: 26px;
					button{
						background: white;
						@include inlineStyles($small,$light-grey);
						padding: 0;
						@include flex(center,center);
						svg{
							margin-right: 4px;
							@include size(20px,20px);
						}
						margin-right: 35px;
					}
				}
			}
			.options{
				position: absolute;
				right: 30px;
				top: 15px;
				svg{
					@include size(18px,18px);
				}
			}
		}
		.comments{
			width: 95%;
			margin-left: 45px;
			.post{
				border-left: $br $light;
				.attached_image{
					height: 200px;
					width: 60%;
				}
			}
			h4{
				background-image: linear-gradient(to left,$blue,$blue);
				cursor: pointer;
				margin-top: 5px;
			}
		}
		.see_more_comments{

		}
	}
}

.add_product_block{
	padding: 20px;
	.title{
		font-size: $lmedium;
		text-align: center;
	}
	.container{
		padding: 30px 20px 30px 20px;
		border-top: $br $light;
		border-bottom: $br $light;
		width: 70%;
		margin: 0 auto;
		gap: 25px;
		margin-top: 20px;
		margin-bottom: 25px;

		.title{
			text-align: left;
			margin-top: 5px;
			font-size: $small-md;
			border-bottom: $br $light;
			padding-bottom: 12px;
			padding-top: 8px;
		}
		.add_image_block{
			@include size(50%);
			height: 100%;
			padding: 20px;

			button{
				margin-bottom: 15px;
				@include size(180px,40px);
				@include flex(center,center);
				svg{
					@include size(19px,19px);
					margin-right: 4px;
				}
			}
			button:last-child{
				color: $red;
			}
			.text{
				font-size: $xm;
				margin-bottom: 50px;
				text-align: center;

			}
		}
		.flex ,.user_info_block{
			@include size;
			display: flex;
			width: 100%;
			gap: 20px;
		}
		.user_info_block{
			margin: 10px 0 10px 0;
			padding: 10px 0 10px 0;
			border-top: $br $light;
			border-bottom: $br $light;
		}
		.select_container{
			@include flex(space-around);
		}
		.save_buttons{
			margin-top: 37px;
			width: 100%;
			display: flex;
			gap: 15px;
		}
		.background{
			@include imageWrapper(100%,177px,$rounded);
			button{
				position: absolute;
				right: 20px;
				top: 20px;
				@include size(187px,35px);
			}
			padding-bottom: 20px;
		}
		.user_avatar_block{
			@include size(163px);
			height: 176px;
			@include flex(center,center,column);
			.user_avatar{
				@include imageWrapper(125px,125px,100%);
			}
			button{
				//margin: 0 auto;
				@include size(163px,30px);
				margin-top : 10px;
			}
		}

	}
}
