@use 'shared/css/common.scss' as *;


.default_avatar{
  @include absolute(50%,50%);
  transform: translate(-50%,-52%);
  @include imageWrapper(85%,85%,100%);
  overflow: hidden;
  background: white;
}
