@use 'shared/css/common.scss' as *;


.image_carousel {
  @include size(100%, 48px);
  @include flex();
  margin-top: 10px;

  .image_carousel_wrapper {
    @include size(47px, 47px);
    margin-right: 15px;
    border-radius: $rounded;
    position: relative;
    cursor: pointer;
  }
}
