@use 'shared/css/common.scss' as *;

.footer {
  @include size(100%, 324px);
  background: $bg-absolute;
  padding-top: 40px;
  margin-top: 10px;

  .footer_block {
    img {
      cursor: pointer;
    }

    @include size(85%, 234px);
    @include flex(space-between);
    margin: 0 auto 59px;

    .brand_block {
      @include size(25%);

      .brand_text {
        color: $bg-200;
        margin-top: 18px;
        margin-bottom: 12px;
        width: 60%;
      }

      .brand_logo {
        @include imageWrapper(175px, 70px);
      }

      .icon_block {
        @include flex();
        @include size(60%, 32px);

        .icon {
          @include size(32px, 32px);
          @include flex(center, center);
          background: $color-absolute;
          border-radius: 100%;

          svg {
            path {
              color: $bg-absolute;
            }

            @include size(25px, 25px);
          }

          margin-right: 14px;

        }
      }
    }

    .navbar {
      @include size(50%, 78px);
      @include flex(space-between);

      .navbar_item {
        a {
          cursor: pointer;
          font-size: 18px;
        }

        @include size(20%);

        .link {
          font-weight: bold;
          margin-bottom: 8px;
        }
      }
    }

    .github_block {
      @include size(25%, 100%);
      @include flex(start, center, column);

      h3 {
        font-weight: bold;
      }

      svg {
        margin-top: 15px;
        @include size(55px, 55px);
        color: $color-absolute;
      }
    }
  }

  .footer_bottom {
    @include size(100%, 70px);
    background: $bg-light-blue;
    color: #606060;

    .footer_bottom_block {
      @include size(73%, 100%);
      @include flex(space-between, center);
      margin: 0 auto;

      h3 img {
        margin-right: 10px;
      }
    }
  }
}

