@use 'shared/css/common.scss' as *;

.about {
  width: 80%;
  margin: 0 auto 30px;
  @include itemBorder;
  position: relative;
}

.title {
  @include inlineStyles(42px, $bg-100, bold);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;

  span {
    background-image: linear-gradient(to left, $link-color, $link-color);
    cursor: pointer;
  }

}

.text {
  width: 65%;
  margin: 0 auto;
  font-size: $xm;
  text-align: center;
}

.link {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}


.github_icon {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;

  svg {
    @include size(37px, 37px);
  }
}

.image_wrapper {
  @include imageWrapper(30%, 400px);
  margin: 30px auto 0;
}

