@use 'shared/css/common.scss' as *;

.container,.error_container {
  width: 80%;
  margin: 0 auto 30px;
  @include itemBorder;
  position: relative;
}
.error_container{
  background: white;
  box-shadow: $shadow;
  padding: 14px;
  @include flex(stretch, center,column);
  margin-top: 60px;
  .text{
    color: #3a3a3a;
    width: 54%;
    line-height: 33px;
  }
  button{
    background: #2a7dfc;
    color: white;
    border-radius: 6px;
    height: 40px;
    width: 220px;
    font-size: 18px;
    margin: 0 auto 30px;
    transition: background 200ms;
    &:hover{
      background: #1d6dfc;
    }
  }
}

.title {
  @include inlineStyles(42px, $bg-100, bold);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;

  span {
    background-image: linear-gradient(to left, $link-color, $link-color);
    cursor: pointer;
  }

}

.text {
  width: 65%;
  font-size: $small-md;
  margin: 0 auto 20px;

  span{
    font-size: $small-md;
    color: $link-color;
  }
}

.link {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}


.github_icon {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;

  svg {
    @include size(37px, 37px);
    color: $color-absolute;
  }
}

.links{
  width: 65%;
  padding: 0;
  margin: 40px auto 0;
  a{
    display: block;
    width: max-content;
    margin-top: 5px;
    color: $color-absolute-200;
    font-size: $small-md;
    svg{
      margin-right: 10px;
      @include size(21px,21px);
    }
  }
}

.image_wrapper {
  @include imageWrapper(30%, 270px);
  margin: 50px auto;
}

