@use 'shared/css/common.scss' as *;


.product_info {
  border: 1px solid $bg-150;
  box-sizing: border-box;
  border-radius: $rounded;
  @include size(100%, 580px);
  position: relative;

  * {
    font-size: $small;
  }

  background: $bg-absolute;
  padding: 20px;
  @include flex();
  @media (max-width: 1438px) {
    height: max-content;
  }
  @media (max-width: 600px) {
    margin-top: 0;
  }
  @media (max-width: 478px) {
    height: 735px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }


}
