@use 'public/mixins' as *;

.search {
  @include size(40%, 38px);
  display: flex;

  .search_input {
    @include size(62%, 100%);
    font-size: 16px;
    border: 2px solid $blue;
    padding-left: 10px;
    border-radius: 8px 0 0 8px;
    border-right-width: 0;
  }

  button {
    border-radius: 0 8px 8px 0;
  }
}
