@use 'shared/css/common.scss' as *;


.item {
  @include size(30%);
  display: flex;

  span {
    color: $bg-300;
    margin-top: 8px;
  }

}

.icon_wrapper {
  background: $color-100;
  @include size(48px, 48px);
  border-radius: 100%;
  @include flex(center, center);
  margin-right: 10px;

  svg {
    @include size(24px, 24px);
    color: #8B96A5;
  }
}

