@use 'shared/css/common.scss' as *;

.messages_block {
  @include size(100%, calc(88%));
  position: relative;

  .messages_wrapper {
    width: 72%;
    overflow-y: auto;
    height: 100%;
    margin: 0 auto 20px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .scrollToBottom{
    position: absolute;
    opacity: 0.74;
    bottom: 0;
    right: 100px;
    background: $bg-absolute;
    border: $br $bg-150;
    @include size(45px, 37px);
    @include flex(center,center);
    border-radius: $rounded;
    svg{
      @include size(28px, 28px);
      color: $color-absolute-200;
    }
  }
}

.default_container{
  @include absolute(50%, 50%);
  transform: translate(-50%, -60%);
  @media (max-width: 530px) {
    display: none;
  }
  @include flex(stretch, center, column);
}
.bottomWrapper{
  @media (max-width: 560px) {
    display: none;
  }
}

.default_chat_image{
  svg{
    @include size(160px,160px);
    color: $color-absolute-200;
    @media (max-width: 776px) {
      @include size(115px, 115px);
    }
  }
}

.default_title{
  margin-top: 50px;
  text-align: center;
  @include inlineStyles(23px, $color-absolute-200);
  span{
    cursor: pointer;
    color: $link-color !important;
    font-size: 23px;
    @media (max-width: 776px) {
      font-size: 18px;
    }
  }
  @media (max-width: 776px) {
    font-size: 18px;
  }
}


