@use 'shared/css/common.scss' as *;

.burger {
  display: none;
  margin-right: 20px;

  svg {
    color: $bg-100;
    @include size(24px, 24px);
    @media (max-width: 480px) {
      @include size(22px, 22px);
    }
  }

  @media (max-width: 628px) {
    display: block;
  }
  @media (max-width: 480px) {
    margin-right: 0;
  }
}
