@use 'shared/css/common.scss' as *;

.burger {
  display: none;
  margin-right: 10px;

  svg {
    display: block;
    color: $bg-200;

    @include size(24px, 24px);

    @media (max-width: 480px) {
      @include size(24px, 24px);
    }
  }

  @media (max-width: 628px) {
    display: block;
  }

  @media (max-width: 480px) {
    margin-right: 0;
  }
}
