@use 'shared/css/common.scss' as *;

.hover_link {
  background-image: linear-gradient(
                  to right,
                  $link-color-hover,
                  $link-color-hover 50%,
                  $color-absolute 50%
  );

  svg {
    color: $bg-100;
  }

  &:hover {
    svg {
      color: $link-color-hover;
    }

  }

  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;

  &::before {
    content: '';
    background: $link-color-hover;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    background-position: 0;
  }

  &:hover::before {
    width: 100%;
  }
}

