@use 'shared/css/common.scss' as *;

.category {
  width: 100%;
  border-top: $br $bg-150;
  position: relative;

  *:not(span) {
    margin-top: 15px;
    cursor: pointer;
  }

  a {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 15px;
    background-image: linear-gradient(to right, $link-color, $link-color 50%, $link-color 50%);
  }

  span {
    margin: 0;
  }
}
