@use 'shared/css/common.scss' as *;

.item {
  @include size(90%, 80px);

  display: flex;
  margin-top: 20px;

  .image_wrapper {
    @include size(90px, 80px);

    margin: 0 11px 0 0;
    position: relative;
  }

  .info_block {
    span {
      display: block;
      color: $bg-300;
      margin-top: 4px;
    }

    h4{
      color: $bg-100;
    }
  }
}
