@use 'shared/css/common.scss' as *;

.profile_header {
  width: 83%;
  margin: 30px auto 35px;

  @include itemBorder;

  @media (max-width: 1652px) {
    width: 95%;
  }

  @media (max-width: 1186px) {
    width: 100%;
  }

  @media (max-width: 932px) {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .profile_background {
    @include size(100%,380px);

    position: relative;

    .image_wrapper{
      @include imageWrapper(100%, 100%, $rounded);

      margin: 0 auto;
    }

    @media (max-width: 932px) {
      height: 280px;
    }

    @media (max-width: 756px) {
      height: 220px;
    }

    @media (max-width: 514px) {
      height: 150px;
    }

    svg{
      @include absolute(18px,18px);
      @include size(26px, 26px);

      opacity: 0.75;
      transition: transform 200ms;

      &:hover{
        transform: rotate(45deg);
        opacity: 1;
      }

      color: white;

      @media (max-width: 662px) {
        display: none;
      }
    }

    background: $color-300;


    button {
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 1;

      @include size(210px, 32px);

      opacity: 0.6;
      transition: opacity 200ms;

      &:hover {
        opacity: 1;
      }

      svg {
        margin-right: 3px;
      }

      @media (max-width: 750px) {
        display: none;
      }
    }
  }

  .info_block {
    position: relative;
    padding: 20px;
    box-sizing: border-box;

    @include size(100%, 165px);

    display: flex;

    @media (max-width: 518px) {
      height: 145px;
      justify-content: center;
    }


    .avatar {
      @include imageWrapper(170px, 170px, 100%);

      overflow: initial;

      img{
        border-radius: 100%;
      }

      border: 1px solid $bg-150;
      margin-left: 20px;
      margin-top: -110px;
      background: white;

      @media (max-width: 1080px) {
        width: 150px;
        height: 150px;
        margin-top: -90px;
      }

      @media (max-width: 756px) {
        width: 135px;
        height: 135px;
      }

      @media (max-width: 514px) {
        width: 110px;
        height: 110px;
        margin-top: -80px;
      }

      @media (max-width: 518px) {
        position: absolute;
        margin: 0;
        left: 50%;
        width: 115px;
        height: 115px;
        top: -73px;
        transform: translate(-50%);
      }

      .user_status{
        position: absolute;
        z-index: 3;
        right: 13px;
        bottom: 13px;

        @media (max-width: 518px) {
          right: 10px;
          bottom: 11px;
        }
      }
    }

    .write_to_user{
      position: absolute;
      right: 18px;
      top: 18px;
    }

    .user_info {
      @include size(25%);

      margin-left: 20px;

      @media (max-width: 518px) {
        @include flex(center, center, column);

        margin-top: 20px;

        *{
          text-align: center;
        }
      }

      .user_name {
        @include inlineStyles($small-md, $bg-100, bold);

        white-space: nowrap;

        svg{
          @include size(24px,24px);

          margin-right: 5px;

          @media (max-width: 1080px) {
            @include size(21px,21px);
          }

          @media (max-width: 756px) {
            @include size(19px, 19px);
          }
        }

        @media (max-width: 1080px) {
          font-size: 21px;
        }

        @media (max-width: 756px) {
          font-size: 19px;
        }
      }

      .user_name.salesman{
        svg{
        color: $link-color-max;
        }
      }

      .description {
        @include inlineStyles($small, $bg-300);

        margin-top: 10px;
        position: relative;

        @media (max-width: 756px) {
          font-size: 15px;
          width: 200px;
        }
      }
    }

    .change_profile {
      @media (max-width: 756px) {
        *{
          margin: 0 !important;
        }
        justify-content: center;
        align-items: center;
      }
      @include flex(flex-end);

      position: absolute;
      right: 28px;
      top: 20px;

      button {
        cursor: pointer;
        min-width: 183px;
        height: 33px;
        @media (max-width: 420px) {
          padding: 0;
        }

        svg{
          margin-right: 3px;

          @include size(18px, 18px);

          margin-bottom: -2px;

          @media (max-width: 756px) {
            @include size(17px, 17px);
            margin: 0 !important;
          }

          @media (max-width: 518px) {
           @include size(15px, 15px);
          }
        }

        span{
          @media (max-width: 756px) {
            display: none;
          }
        }

        @media (max-width: 756px) {
          min-width: 37px;
          max-width: 37px;
          height: 37px;
        }

        @media (max-width: 518px) {
          min-width: 34px;
          height: 34px;
        }

      }

      @media (max-width: 518px) {
        right: 13px;
        top: 13px;
      }
    }

  }

}

.details{
  color: $color-absolute-200;
  font-size: 17px;

  @include flex(stretch, center);

  gap: 10px;
  margin-top: 10px;
  cursor: pointer;

  @media (max-width: 518px) {
    display: none;
  }
}
