@use 'shared/css/common.scss' as *;


.product_images {
  margin-right: 20px;

  .image_wrapper {
    @include imageWrapper(400px,400px,$rounded);
    border: 1.5px solid $bg-150;
    border-radius: $rounded;
    cursor: pointer;
    @include itemHover;
  }

}
