@use 'shared/css/common.scss' as *;

.login_form {
  width: 100%;
}

.wrapper {
  width: 310px;
  @include itemBorder;
  margin: 60px auto 50px;
  padding: 30px;
  @media (max-width: 540px) {
    width: 280px;
  }
}

.title {
  font-size: $small-md;
  margin-bottom: 30px;
  font-weight: bold;
  @media (max-width: 540px) {
    font-size: 20px;
  }
}

.grey_line {
  margin-top: 29px;
  margin-bottom: 29px;
  @include size(100%, 1px);
  background: $bg-150;
}

.account_link {
  margin-top: 70px;
  //margin-bottom: 34px;
  text-align: center;

  a {
    background-image: linear-gradient(to right, $link-color, $link-color);
  }
}


.login_button {
  width: 100%;
  font-size: 18px;
  margin-top: 14px;
  color: $color-absolute;
}
