@use 'styles/variables' as *;

.messages_main {
  //@include backgroundImage('/wallpaper_2.svg');
  @include size(100%, 652px);
  background: white;

  .wrapper {
    @include size(100%, calc(100% - 24px));
    .messages_block{
      @include size(100%, calc(88%));
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      .messages_wrapper{
        margin: 0 auto;
        width: 72%;
        margin-bottom: 20px;
      }
    }
    margin: 0 auto;
    position: relative;
    border: 1px solid transparent;
    .message_bar {
      border-radius: 12px;
      background: white;
      border: $br $light;
      position: relative;
      padding: 15px;
      box-sizing: border-box;
      display: flex;
      margin: 0 auto;
      margin-top: 20px;
      @include size(72%, 56px);

      .icon_wrapper {
        svg {
          @include size(24px, 24px);
          color: $light-grey;
        }
      }

      input {
        @include size(85%);
        width: 85%;
        border: none;
        margin-left: 18px;
        font-size: 17px;

        &::placeholder {
          color: $light-grey;
        }
      }

      .send {
        margin-left: 16px;
        position: absolute;
        top: 15px;
        right: 25px;

        svg {
          color: #8BABD8;
          @include size(26px, 26px);
          transition: color 200ms;

          &:hover {
            color: #789CCE;
          }
        }
      }
    }

  }
}
.my_message ,.opponent_message{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 17px;
  .wrapper:has(.image_wrapper){
    min-width: 365px;
  }
  .wrapper{
    margin: 0;
    min-height: 28px;
    min-width: 85px;
    max-width: 243px;
    background: #F5F5F5;
    border-radius: 12px;
    position: relative;
    padding: 0;
    padding-bottom: 10px;
    .image_wrapper{
      cursor: pointer;
      @include size(calc(100% + 2px),200px);
      margin-left: -1px;
      margin-top: -1px;
      margin-bottom: 12px;
      position: relative;
      border-radius: 12px 12px 0 0;
      overflow: hidden;
    }
    .title_wrapper{
      @include size(70%);
      .title{
        text-align: left;
        margin-left: 10px;
        margin-top: 5px;
        word-wrap: break-word;
      }
    }

    .time_block{
      position: absolute;
      right: 12px;
      bottom: 4px;
      font-size: 12px;
      @include size(48px,16px);
      @include flex(space-between);
      svg{
        @include size(14px,14px);
      }
    }
    cursor: pointer;
  }
}

.opponent_message{
  justify-content: flex-start;
  .wrapper{
    background: #218aff;
    transition: background 200ms;
    *{
      color: white;
    }
    .time_block span{
      color: white;
    }

    &:hover {
      background: #3192FF;
    }
    cursor: pointer;
    svg, span   {
      color: $dark;
    }

  }
}
.today_label{
  background: rgba(61, 112, 184, 0.3);
  height: 28px;
  border-radius: 12px;
  min-width: 71px;
  max-width: 100px;
  margin: 16px auto 16px;
  @include flex(center,center);
  color: white;
}
