@use '../../../styles/variables' as *;


.header {
  @include size(100%, 138px);
  background: white;
  border-bottom: 2px solid $light;
  .header_block {
    @include size(90%, 86px);
    margin: 0 auto;
    @include flex(space-between, center);

    .logo {
      @include size(200px, 100%);
      cursor: pointer;
    }

    .search {
      @include size(40%, 38px);
      display: flex;

      .search_input {
        @include size(62%, 100%);
        font-size: 16px;
        border: 2px solid $blue;
        padding-left: 10px;
        border-radius: 8px 0 0 8px;
        border-right-width: 0;
      }

      .search_select {
        border-left-width: 1px;
      }

      .search_button {
        border-radius: 0 8px 8px 0;
      }
    }

    .options {
      @include size(18%, 38px);
      @include flex(space-between);

      * {
        color: $light-grey;
        transition: background 200ms;

        &:hover {
          color: $hover-grey;
        }
      }

      .options_item {
        @include flex(space-between, center, column);
        @include size(37px, 100%);
        text-align: center;

        svg {
          @include size(22px, 22px);
        }

        span {
          @include inlineStyles($xs, $light-grey);
          white-space: nowrap;
        }
      }
    }
  }

  .navbar_block {
    @include size(90%, 56px);
    margin: 0 auto;
    @include flex(space-between, center);

    .navbar {
      @include flex(space-between, center);
      @include size(25%, 24px);

      a {
        @include flex(stretch, center);


        svg {
          margin-right: 4px;
        }
      }
    }

    .dropdowns {
      @include flex(space-between, center);
      @include size(23%, 24px);

      .navbar_select {
        @include flex(space-between);
        border: none;
        width: 45%;
      }
    }
  }


}

