@use 'shared/css/mixins' as *;


.item {
  @include size(30%);
  display: flex;

  span {
    color: $light-grey;
    margin-top: 8px;
  }

}

.icon_wrapper {
  background: $primary-blue;
  @include size(48px, 48px);
  border-radius: 100%;
  @include flex(center, center);
  margin-right: 10px;

  svg {
    @include size(24px, 24px);
    color: $light-grey;
  }
}

