@use 'shared/css/common.scss' as *;

.heart {
  border: 1px solid $bg-150;
  background: $bg-absolute;
  border-radius: $rounded;
  margin-bottom: 13px;
  cursor: pointer;
  color: $link-color;

  @include flex(center, center);
  @include size(40px, 40px);

  @media (max-width: 506px) {
    @include size(30px, 30px);
  }

  &:hover {
    svg {
        color: #FF7E7E;
    }
  }

  svg {
    color: $link-color;
    path {
      transition: color 400ms;
    }

    @include size(20px, 20px);
  }
}

.saved{
  svg {
    color: #fa9090;
  }
}
