@use 'shared/css/common.scss' as *;

.heart {
  border: 1px solid $bg-150;
  background: $bg-absolute;
  border-radius: $rounded;
  margin-bottom: 13px;
  cursor: pointer;
  @include flex(center, center);
  @include size(40px, 40px);
  @media (max-width: 506px) {
    @include size(30px, 30px);
  }

  &:hover {
    svg {
      path {
        color: #FF7E7E;
      }
    }
  }

  svg {
    path {
      transition: color 400ms;
      color: $link-color;

    }

    @include size(20px, 20px);
  }
}
.saved{
  svg {
    path {
      color: #fa9090;
    }
  }
}
