@use 'shared/css/mixins.scss' as *;

.burger {
  display: none;
  margin-right: 10px;

  svg {
    color: $dark;
    @include size(24px, 24px);
  }

  @media (max-width: 880px) {
    display: block;
  }
}
