@use 'shared/css/common.scss' as *;

.my_message, .opponent_message {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  color: black;

  .wrapper:has(.image_wrapper) {
    min-width: 365px;
    @media (max-width: 600px) {
      width: 100%;
      min-width: initial;
    }
  }

  .wrapper {
    margin: 0;
    min-height: 24px;
    height: max-content;
    max-width: 243px;
    background: #F5F5F5;
    border-radius: 12px;
    position: relative;
    padding: 0 0 10px;
    min-width: 170px;

    .image_wrapper {
      cursor: pointer;
      @include size(calc(100% + 2px), 200px);
      margin-left: -1px;
      margin-top: -1px;
      margin-bottom: 12px;
      position: relative;
      border-radius: 12px 12px 0 0;
      overflow: hidden;
    }

    .title_wrapper {
      @include size(67%);
      margin-right: 10px;

      .title {
        text-align: left;
        margin-left: 10px;
        margin-top: 5px;
        word-wrap: break-word;
      }
    }

    .time_block {
      position: absolute;
      right: 12px;
      bottom: 4px;
      display: flex;
      justify-content: flex-end;
      gap: 4px;

      span {
        font-size: 12px;
        display: block;
      }

      @include size(48px, 16px);

      svg {
        @include size(14px, 14px);
      }
    }

    cursor: pointer;
  }
}

.opponent_message {
  justify-content: flex-start;

  .wrapper {
    background: #218aff;
    transition: background 200ms;

    .title {
      color: white;
    }
    &:hover {
      background: #3192FF;
    }

    cursor: pointer;

    svg, span {
      color: white;
    }

  }
}
