@use 'src/shared/css/common.scss' as *;

.no_products {
  @include flex(stretch, center, column);
  margin-bottom: 30px;

  h2 {
    font-size: 27px;
    text-align: center;
    margin-top: 45px;
    color: $color-absolute-200;
    @media (max-width: 754px) {
      font-size: 22px;
    }
  }

  svg {
    margin: 30px auto;
    color: $color-absolute-200;
    @include size(110px, 110px);
    @media (max-width: 754px) {
      @include size(80px, 80px);
    }
  }

}
