$dark: #1C1C1C;
$light-grey: #8B96A5;
$blue: #0D6EFD;
$hover-blue: #1C6FD0;
$hover-grey: #888F98;
$light: #E0E0E0;
$hover-light: #A8A8A8;
$dark-grey: #505050;
$light-blue: #E3F0FF;
$primary-blue: #E3E8EE;
$green: #00B517;
$orange: #FF9017;
$red: #FA3434;
$light-max: #FAFAFA;


$br: 1px solid;
$rounded: 6px;

$xs: 12px;
$small: 16px;
$xm: 20px;
$small-md: 24px;
$medium: 28px;
$lmedium: 32px;
$giant: 74px;

$shadow: 4px 4px 8px -3px rgba(34, 60, 80, 0.2);
$shadow-hover: px 5px 10px 2px rgba(34, 60, 80, 0.26);
$center: 0 auto;

@mixin size($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}

@mixin testBorder {
  border: 1px solid red;
}

@mixin inlineStyles($font-size : $small,$color : $dark, $weight: normal) {
  font-size: $font-size;
  color: $color;
  font-weight: $weight;
}

@mixin flex($jc: start,$ai: stretch,$dir: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $dir;
}

@mixin backgroundImage($url, $size: 100%) {
  background: url($url);
  background-repeat: no-repeat;
  background-size: $size;
}

@mixin grid($cols,$rows, $gap: 0) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  grid-template-rows: repeat($rows, 1fr);
  gap: $gap;
}

@mixin padding($left,$top) {
  padding-top: $top;
  padding-left: $left;
}

@mixin absolute($left: 0,$top : 0) {
  position: absolute;
  left: $left;
  top: $top;
}

@mixin itemHover {
  cursor: pointer;
  &:hover {
    border-color: $hover-light;
    border-width: 1.5px;
  }
}

@mixin itemBorder {
  margin-top: 25px;
  border: 1px solid $light;
  border-radius: $rounded;
  background: white;
}

@mixin imageWrapper($w: 100%,$h: 100%,$br: 0px) {
  width: $w;
  height: $h;
  border-radius: $br;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

@mixin customScroll {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 5px;
    background-color: #F7FAFC;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $light;
    background-image: -webkit-linear-gradient(45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent)
  }
}
