@use 'shared/css/common.scss' as *;

.messages_main {
  @include size(100%, 652px);
  background: $bg-absolute;
  margin: 0 auto;
  position: relative;
  border: 1px solid transparent;

  .wrapper {
    @include size(100%, calc(100% - 24px));
  }
}
