@use 'shared/css/common.scss' as *;


.controls_buttons {
  @include size(30%);
  margin-right: 30px;
  @include flex(flex-end, center);
  gap: 35px;
  span{
    margin-top: -5px;
  }
}

.controls_select {
  border: 1px solid $bg-150;
  border-radius: 4px;
  height: 35px;
}
