@use 'shared/css/common.scss' as *;

.item {
  @include padding(16px, 20px);
  border: $br $bg-150;
  position: relative;
  @include itemHover;
  border-radius: 4px;

  .item_title {
    margin-bottom: 9px;
    color: $bg-200;
  }

  .item_description {
    @include inlineStyles(13px, $bg-300);
  }

  .item_image {
    @include imageWrapper(115px, 90%, $rounded);
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 0;
  }
}
