@use 'shared/css/common.scss' as *;

.item {
  @include padding(16px, 20px);
  border: $br $light;
  position: relative;
  @include itemHover;

  .item_title {
    margin-bottom: 9px;
    color: $dark-grey;
  }

  .item_description {
    @include inlineStyles(13px, $light-grey);
  }

  .item_image {
    @include imageWrapper(115px, 90%);
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 0;
  }
}
