@use 'shared/css/mixins.scss' as *;

.messages_block {
  @include size(100%, calc(88%));
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .messages_wrapper {
    margin: 0 auto;
    width: 72%;
    margin-bottom: 20px;
  }
}


