@use 'shared/css/common.scss' as *;


.search_form {
  @include size(100%, 420px);
  @include padding(40px, 40px);
  border-radius: $rounded;
  margin-top: 20px;
  position: relative;
  box-sizing: border-box;
  @include backgroundImage('/assets/common/search_form.png');

  .title {
    margin-bottom: 20px;
    width: 400px;
    @include inlineStyles($l-medium, white, bold);
  }

  .description {
    color: white;
    width: 400px;
  }

}
