@use 'shared/css/common.scss' as *;


.search_form {
  @include size(100%, 400px);
  @include padding(40px, 40px);

  border-radius: $rounded;
  margin-top: 20px;
  position: relative;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;

  .title {
    margin-bottom: 20px;
    width: 400px;

    @include inlineStyles($l-medium, white, bold);

    @media (max-width: 1180px) {
      font-size: 26px;
    }

    @media (max-width: 792px) {
      font-size: 19px;
      margin-bottom: 10px;
    }

    @media (max-width: 586px) {
      display: none;
    }
  }

  .description {
    color: white;
    width: 400px;

    @media (max-width: 792px) {
      display: none;
    }
  }

  @media (max-width: 1016px) {
    padding-bottom: 20px;
    height: max-content;
  }

  @media (max-width: 792px) {
    height: max-content;
    padding: 10px;
    margin-top: 5px;
  }

  @media (max-width: 460px) {
    padding: 10px;
    margin: 10px 0;
    height: 180px;
  }

}
