@use 'shared/css/common.scss' as *;

.items_block {
  width: calc(100% + 38px);
  min-height: 500px;
  max-height: 1000px;

  @include customScroll;

  overflow-x: hidden;
  padding-right: 19px;

  @media (max-width: 876px) {
    &::-webkit-scrollbar{
      display: none;
    }
  }

  @media (max-width: 750px) {
    padding: 0;
    width: 100%;
  }

}

.transformed{
    width: 88%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row dense;
    column-gap: 40px;
    row-gap: 30px;
    align-items: center;
}
