$bg-100: var(--bg-100);
$bg-300: var(--bg-300);
$link-color: var(--link-color);
$link-color-hover: var(--link-color-hover);
$hover-100: var(--hover-100);
$bg-150: var(--bg-150);
$bg-150-hover: var(--bg-150-hover);
$bg-200: var(--bg-200);
$link-color-light: var(--link-color-light);
$color-100: var(--color-100);
$green: var(--green);
$orange: var(--orange);
$red: var(--red);
$color-max: var(--color-max);
$color-300: var(--color-300);
$bg-absolute: var(--bg-absolute);
$color-absolute: var(--color-absolute);
$color-absolute-200: var(--color-absolute-200);
$bg-light-blue: var(--bg-light-blue);
$link-blue-white: var(--link-blue-white);
$bg-absolute-hover: var(--bg-absolute-hover);
$bg-selected: var(--bg-selected);
$block-border: var(--block-border);
$link-color-max: var(--link-color-max);

$xs: 12px;
$small: 16px;
$xm: 20px;
$small-md: 24px;
$medium: 28px;
$l-medium: 32px;
$giant: 74px;

$shadow: 4px 4px 8px -3px rgba(34, 60, 80, 0.2);
$shadow-hover: px 5px 10px 2px rgba(34, 60, 80, 0.26);
$center: 0 auto;

$rounded: 6px;
$br: 1px solid;

