$dark: #1C1C1C;
$light-grey: #8B96A5;
$blue: #0D6EFD;
$hover-blue: #1C6FD0;
$hover-grey: #888F98;
$light: #E0E0E0;
$hover-light: #A8A8A8;
$dark-grey: #505050;
$light-blue: #E3F0FF;
$primary-blue: #E3E8EE;
$green: #00B517;
$orange: #FF9017;
$red: #FA3434;
$light-max: #FAFAFA;
$grey-300: #F7FAFC;


$xs: 12px;
$small: 16px;
$xm: 20px;
$small-md: 24px;
$medium: 28px;
$lmedium: 32px;
$giant: 74px;

$shadow: 4px 4px 8px -3px rgba(34, 60, 80, 0.2);
$shadow-hover: px 5px 10px 2px rgba(34, 60, 80, 0.26);
$center: 0 auto;

$rounded: 6px;
$br: 1px solid;

