@use 'shared/css/mixins.scss' as *;

.dropdowns {
  @include flex(space-between, center);
  @include size(23%, 24px);

  select {
    @include flex(space-between);
    border: none;
    width: 45%;
  }

  @media (max-width: 1072px) {
    width: 35%;
  }
  @media (max-width: 880px) {
    display: none;
  }
}
