@use 'shared/css/common.scss' as *;

.dropdowns {
  @include flex(stretch, center);
  @include size(27%, 40px);
  gap: 30px;
  .github{
    @include flex(stretch, center);
    gap: 10px;
    svg{
      @include size(34px,34px);
      color: $color-absolute;
    }
    h2{
      color: $color-absolute;
      font-size: 18px;
    }

  }

  select {
    @include flex(space-between);
    border: none;
    width: 45%;
  }

  @media (max-width: 1072px) {
    width: 35%;
  }
  @media (max-width: 880px) {
    display: none;
  }
}
