@use 'styles/variables' as *;

.link {
  a {
    background-image: linear-gradient(to right, $blue, $blue 50%, $blue 50%) !important;
    font-size: $small;

    svg {
      color: $blue;
    }
  }
}
