@use 'shared/css/common.scss' as *;

.header {
  width: 100%;
  background: $bg-absolute;
  border-bottom: 2px solid $bg-150;
  max-height: 172px;
  position: relative;

  @media (max-width: 737px) {
    height: 133px;
  }

  @media (max-width: 508px) {
    height: 70px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
  }

  @media (max-width: 400px) {
    height: 52px;
  }


  .logo_link {
    @include size(200px, 100%);
    @include flex(center, center);

    @media (max-width: 1498px) {
      width: 180px;
    }

    @media (max-width: 880px) {
      width: 155px;
    }

    @media (max-width: 500px) {
      width: 47px;
      margin-left: 12px;
    }
  }

  .header_block {
    @include size(90%, 86px);
    @include flex(space-between, center);

    margin: $center;

    @media (max-width: 1160px) {
      justify-content: initial;
    }

    @media (max-width: 910px) {
      justify-content: space-between;
    }

    @media (max-width: 508px) {
      height: 100%;
    }

    .options {
      @include size(18%, 45px);
      @include flex(space-between);

      * {
        color: $bg-300;
        transition: background 200ms;

      }

      @media (max-width: 1568px) {
        width: 23%;
      }

      @media (max-width: 1160px) {
        width: 30%;
        align-items: center;
      }

      @media (max-width: 870px) {
        width: 50%;
      }

      @media (max-width: 802px) {
        width: 170px !important;
      }

      @media (max-width: 450px) {
        width: 85px !important;
      }

      .options_item {
        @include flex(space-between, center, column);
        @include size(37px, 100%);

        text-align: center;

        @media (max-width: 1160px) {
          flex-direction: row;
        }

        .avatar {
          @include imageWrapper(25px, 25px, 100%);

          @media (max-width: 460px) {
            width: 27px;
            height: 27px;
          }
        }

        svg {
          @include size(23px, 23px);

          @media (max-width: 1160px) {
            @include size(27px, 27px);
          }

          @media (max-width: 508px) {
            @include size(23px, 23px);
          }

          @media (max-width: 508px) {
            @include size(21px, 21px);
          }

          @media (max-width: 450px) {
            @include size(25px, 25px);

          }
        }

        span {
          @include inlineStyles($xs, $bg-300);

          white-space: nowrap;

          @media (max-width: 1160px) {
            display: none;
          }
        }
      }

      @media (max-width: 1262px) {
        width: 25%;
      }

      @media (max-width: 880px) {
        align-items: center;

        * {
          color: $bg-200;
        }
      }

      @media (max-width: 564px) {
        width: 35%;
      }
    }
  }


}

.navbar_block {
  @include size(90%, 56px);

  margin: 0 auto;
  position: relative;

  @include flex(space-between, center);

  @media (max-width: 1494px) {
    justify-content: initial;
  }

  @media (max-width: 737px) {
    height: 37px;
  }

  .navbar {
    @include flex(stretch, center);
    @include size(45%, 24px);

    gap: 50px;

    @media (max-width: 1494px) {
      width: 50%;
      gap: 15px;
    }

    @media (max-width: 894px) {
      width: 70%;
    }

    @media (max-width: 676px) {
      gap: 20px;
    }

    @media (max-width: 608px) {
      gap: 13px;
    }

    @media (max-width: 594px) {
      gap: 8px;
    }

    @media (max-width: 508px) {
      display: none;
    }

    a {
      @include flex(stretch, center);

      white-space: nowrap;

      svg {
        margin-right: 5px;

        @include size(17px, 17px);

        @media (max-width: 1272px) {
          display: none;
        }
      }

      @media (max-width: 1186px) {
        font-weight: bold;
      }

      @media (max-width: 594px) {
        font-size: 15px;
      }

    }

    & > a:last-child{
      @media (max-width: 711px) {
        display: none;
      }
    }
  }
}

.mobile{
  display: block;

  @media (max-width: 450px) {
    display: none;
  }
}
