@use 'shared/css/common.scss' as *;

.header {
  width: 100%;
  background: $bg-absolute;
  border-bottom: 2px solid $bg-150;
  max-height: 172px;

  @media (max-width: 880px) {
  }

  .logo_link {
    @include size(200px, 100%);
    @include flex(center, center);
    @media (max-width: 1498px) {
      width: 180px;
    }
    @media (max-width: 880px) {
      width: 155px;
    }


  }

  .header_block {
    @include size(90%, 86px);
    @include flex(space-between, center);
    margin: $center;

    .options {
      @include size(18%, 45px);
      @include flex(space-between);
      * {
        color: $bg-300;
        transition: background 200ms;

      }

      .options_item {
        @include flex(space-between, center, column);
        @include size(37px, 100%);
        text-align: center;
        .avatar{
          @include imageWrapper(25px,25px,100%);
        }

        svg {
          @include size(23px, 23px);
        }

        span {
          @include inlineStyles($xs, $bg-300);
          white-space: nowrap;
        }
      }

      @media (max-width: 1262px) {
        width: 25%;
      }
      @media (max-width: 880px) {
        align-items: center;
        * {
          color: $bg-200;
        }
      }
      @media (max-width: 564px) {
        width: 35%;
      }
    }
  }


}

.navbar_block {
  @include size(90%, 56px);
  margin: 0 auto;
  @include flex(space-between, center);

  .navbar {
    @include flex(space-between, center);
    @include size(25%, 24px);

    a {
      @include flex(stretch, center);

      svg {
        margin-right: 4px;
      }
    }

    @media (max-width: 1478px) {
      width: 27%;
      a {
        font-size: 15px;
      }
    }
    @media (max-width: 1176px) {
      width: 35%;
      a {
        font-size: 15px;
      }
    }
  }

  @media (max-width: 880px) {
    display: none;
  }
}
