@use 'shared/css/common.scss' as *;

.cart_icons {
  @include size(809px, 50px);
  @include flex(space-between);
  margin-top: 30px;
  margin-bottom: 30px;

  .item {
    @include size(30%);
    display: flex;

    span {
      color: $bg-300;
      margin-top: 8px;
    }

  }
  @media (max-width: 1246px) {
    display: none;
  }
}
