@use 'shared/css/common.scss' as *;

.item {
  @include size(100%, 140px);

  margin-bottom: 23px;
  display: flex;
  border-bottom: $br $bg-150;
  overflow: hidden;
  padding-bottom: 20px;

  @media (max-width: 600px) {
    padding-bottom: 0;
  }

  .image_wrapper {
    @include imageWrapper(87px,87px,$rounded);
    @include itemBorder;

    margin: 0;
    cursor: pointer;

    @media (max-width: 520px) {
      @include size(65px, 65px);
    }
  }

  .item_info {
    @include size(82%);

    margin-left: 10px;

    @media (max-width: 520px) {
      width: 62%;
    }

    h4{
      color: $color-absolute;

      @media (max-width: 520px) {
        font-size: 15px;
      }
    }

    p {
      color: $bg-300;
      margin-top: 7px;
      margin-bottom: 9px;
      width: 319px;

      @media (max-width: 520px) {
        font-size: 12px;
        width: 185px;
      }
    }

    .item_buttons {
      margin-top: 10px;
      display: flex;
      gap: 10px;

      button:first-child{
        font-size: 15px;
        margin-top: 10px;
        min-width: 180px;
        height: 32px;

        @media (max-width: 520px) {
          height: 30px !important;
          min-width: 120px !important;
          font-size: 13px;
        }
      }
    }

  }

  .price_block {
    @include size(10%);
    @include flex(stretch, flex-end, column);

    h2 {
      color: $color-absolute;
      font-weight: bold;

      @media (max-width: 520px) {
        font-size: 13px;
      }
    }

  }
}
