@use 'shared/css/common.scss' as *;


.add_product_block {
  padding: 20px 20px 0;
  .title {
    font-size: $l-medium;
    text-align: center;
    color: $color-absolute;
  }

  .container {
    padding: 30px 20px 0px 20px;
    border-top: $br $bg-150;
    border-bottom: $br $bg-150;
    width: 70%;
    gap: 25px;
    margin: 20px auto 25px;

    .title {

      text-align: left;
      margin-top: 5px;
      font-size: $small-md;
      border-bottom: $br $bg-150;
      padding-bottom: 12px;
      padding-top: 8px;
    }

    .flex, .user_info_block {
      @include size;
      display: flex;
      width: 100%;
      gap: 20px;
    }

    .user_info_block {
      margin: 10px 0 10px 0;
      padding: 10px 0 10px 0;
      border-top: $br $bg-150;
      border-bottom: $br $bg-150;
    }

    .save_buttons {
      margin-top: 37px;
      width: 100%;
      display: flex;
      gap: 19px;
      margin-bottom: 20px;
      .save{
        background: #0D6EFD;
        color: white;
      }
      .cancel{
        background: white;
        color: black;
        box-shadow: $shadow;
      }
    }

    .background {
      @include imageWrapper(100%, 177px, $rounded);
      background: $color-300;

      button {
        position: absolute;
        right: 20px;
        top: 20px;
        @include size(187px, 35px);
      }

      padding-bottom: 20px;
    }

    .user_avatar_block {
      @include size(163px);
      height: 176px;
      @include flex(center, center, column);

      .user_avatar {
        @include imageWrapper(135px, 135px, 100%);
      }

      button {
        //margin: 0 auto;
        @include size(163px, 30px);
        margin-top: 10px;
        background: white;
        color: black;
        box-shadow: $shadow;
      }
    }

  }
}
.add_product_block.dark{
  .title{
    color: white
  }
}
