@use 'shared/css/mixins' as *;

.hover_link {
  background-image: linear-gradient(
                  to right,
                  #54b3d6,
                  #54b3d6 50%,
                  #000 50%
  );

  svg {
    color: $dark;
  }

  &:hover {
    svg {
      color: #54b3d6;
    }

  }

  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;

  &:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    background-position: 0;
  }

  &:hover:before {
    width: 100%;
  }
}

