@use '../../../../../styles/variables' as *;

.languages {
  @include size(100%, 256px);
  margin-top: 20px;
  padding-top: 20px;
  border: $br transparent;

  .block {
    @include grid(5, 2);
    @include size(100%, 135px);

    .item {
      @include flex();

      .item_icon {
        @include backgroundImage('/united_states.svg');
        @include size(28px, 20px);
        margin-right: 11px;
      }

      .description {
        color: $light-grey;
      }

      h4 {
        font-weight: bold;
        font-size: 17px;

      }
    }
  }
}
