@use 'src/shared/css/common.scss' as *;

.users{
  @include customScroll;

  height: 900px;
  width: 103%;
  overflow-y: auto;
  overflow-x: hidden;

  @media (max-width: 520px) {
    &::-webkit-scrollbar{
      display: none;
    }

    width: 96%;
    margin: 0 auto;
    height: max-content;
  }
}
