@use 'shared/css/common.scss' as *;

.add_product_block {
  padding: 20px;

  .title {
    font-size: $l-medium;
    text-align: center;
    color: $color-absolute;
  }

  .container {
    padding: 30px 20px 30px 20px;
    border-top: $br $bg-150;
    border-bottom: $br $bg-150;
    width: 60%;
    gap: 25px;
    margin: 20px auto 25px;
    .flex{
      display: flex;
      gap: 50px;
      & > *{
        width: 373px;
      }
    }
    .numberFields{
      & > p{
        margin-top: 20px;
      }
      & > div{
        margin-bottom: 20px;
      }
    }
    .greyLine{
      height: 1px;
      background: #e1e1e1;
      margin-bottom: 25px;
      margin-top: 30px;
    }

    .title {
      text-align: left;
      color: $color-absolute;
      margin-top: 5px;
      font-size: $small-md;
      border-bottom: $br $bg-150;
      padding-bottom: 12px;
      padding-top: 8px;
    }

    .select_container {
      & > * {
        display: block;
        width: 100%;
      }
    }

    .save_buttons {
      margin-top: 37px;
      width: 100%;
      display: flex;
      gap: 15px;
    }

    .background {
      @include imageWrapper(100%, 177px, $rounded);

      button {
        position: absolute;
        right: 20px;
        top: 20px;
        @include size(187px, 35px);
      }

      padding-bottom: 20px;
    }

  }
}
