@use 'shared/css/common.scss' as *;

.message_bar {
  border-radius: 8px;
  background: $bg-absolute;
  border: $br $bg-150;
  position: relative;
  padding: 10px 15px 10px 10px;
  box-sizing: border-box;
  @include flex(space-between);
  margin: 20px auto 10px auto;
  @include size(700px, 52px);
  .buttons{
    display: flex;
    gap: 16px;
  }
  .attached_image{
    @include imageWrapper(230px, 120px, $rounded);
    position: absolute;
    top: -125px;
    opacity: 0.8;
    left: 0;
    svg{
      position: absolute;
      right: 10px;
      top: 10px;
      background: $bg-absolute-hover;
      opacity: 0.66;
      border-radius: 100%;
      padding: 4px;
      @include size(13px, 13px);
    }
  }

  .image_wrapper {
    svg {
      @include size(27px, 27px);
      color: $hover-100;
    }
    position: relative;
    input{
      @include absolute;
      @include size;
      margin: 0;
      opacity: 0;
    }
  }

  input {
    @include size(85%);
    width: 85%;
    border: none;
    margin-left: 0;
    font-size: 17px;
    color: $color-absolute;
    background: $bg-absolute;

    &::placeholder {
      color: $bg-150-hover;
    }
  }

}


.send {

  svg {
    color: $hover-100;
    @include size(27px, 27px);
    transition: color 200ms;

    &:hover {
      color: #789CCE;
    }
  }
}
