@use 'shared/css/common.scss' as *;

.comments {
  width: 95%;
  margin-left: 45px;

  .post {
    border-left: $br $bg-150;

    .attached_image {
      height: 200px;
      width: 60%;
    }
  }

  h4 {
    background-image: linear-gradient(to left, $link-color, $link-color);
    cursor: pointer;
    margin-top: 5px;
  }
}
