@use '/styles/variables' as *;

.product_info {
  border: 1px solid $light;
  box-sizing: border-box;
  border-radius: $rounded;
  @include size(100%, 580px);

  * {
    font-size: $small;
  }

  background: white;
  padding: 20px;
  @include flex();

  .product_images {
    @include size(31%);

    .image_wrapper {
      @include size(100%, 400px);
      border: 1.5px solid $light;
      border-radius: $rounded;
      position: relative;
      cursor: pointer;
      @include itemHover;
    }

    .image_carousel {
      @include size(100%, 48px);
      @include flex();
      margin-top: 20px;

      .image_carousel_wrapper {
        @include size(56px, 56px);
        margin-right: 10px;
        border-radius: $rounded;
        border: 1.5px solid $light;
        position: relative;
        cursor: pointer;
      }
    }
  }

  .product_info_block {
    margin-left: 22px;
    @include size(46%);

    .product_title {
      @include inlineStyles($small-md, $dark, bold);
      margin-top: 6px;
      margin-bottom: 6px;
      width: 60%;

    }

    .rating_block {
      @include flex();
      @include size(60%, 20px);

      h3 {
        color: $light-grey;
        margin-left: 10px;

        svg {
          margin-right: 3px;
        }
      }

    }

    .price {
      @include inlineStyles($lmedium, $dark, bold);
      margin-top: 12px;
      margin-bottom: 12px;
    }

    .params_block {
      border-bottom: 1px solid $light;
      padding-bottom: 16px;
      width: 100%;

      .params_flex {
        @include size(40%, 20px);
        @include flex(space-between);
        margin-top: 16px;

        span:first-child {
          color: $light-grey;
        }
      }
    }
  }

  .purchase_block {
    @include size(18%);
    margin-left: 20px;
    padding: 15px;
    box-sizing: border-box;

    .purchase_card {
      padding: 17px;
      border: $br $light;
      border-radius: $rounded;
      @include size(100%, 325px);

      .purchase_supplier {
        @include size(100%, 65px);
        @include flex();
        border-bottom: $br $light;
        margin-bottom: 11px;

        h2 {
          margin-left: 11px;
        }

        * {
          cursor: pointer;
        }
      }

      .supplier_params {
        margin-bottom: 11px;
        display: block;
        color: $light-grey;

        svg {
          margin-right: 16px;
        }
      }

      .sell_button {
        margin-top: 8px;
        @include size(100%, 40px);

        &[class*="outlined_button"] {
          color: $blue;
        }
      }
    }

    .save_later {
      color: $blue;
      cursor: pointer;
      text-align: center;
      margin: 0 auto;
      margin-top: 20px;
      display: block;
    }
  }

  .modal_wrapper {
    @include size(100px, 100px);
    position: relative !important;
  }
}
