@use 'shared/css/common.scss' as *;

.extra_services {
  width: 100%;
  box-sizing: border-box;
  padding-top: 20px;
  margin-bottom: 50px;

  .block {
    @include flex(space-between);
    @include size(100%, 220px);
  }
  @media (max-width: 830px) {
    display: none;
  }
}
