@use '../../../../../styles/variables' as *;

.recommended {
  @include size(100%, 270px);
  @include flex();
  margin-top: 20px;
  background: white;
  border-radius: $rounded;

  .image_block {
    @include backgroundImage('/recommended.svg');
    @include size(20%);
    @include padding(20px, 20px);
    box-sizing: border-box;

    .title {
      font-size: 20px;
      margin-bottom: 22px;
      font-weight: bold;
    }

    .source_now {
      width: 119px;
    }
  }

  .recommended_items {
    @include size(80%);
    @include grid(4, 2);

    .item {
      @include padding(16px, 20px);
      border: $br $light;
      position: relative;
      @include itemHover;

      .item_title {
        margin-bottom: 9px;
      }

      .item_description {
        @include inlineStyles(13px, $light-grey);
      }

      .item_image {
        position: absolute;
        top: 26px;
        right: 0;
      }
    }
  }
}
