@use 'shared/css/common.scss' as *;

.recommended {
  @include size(100%, 270px);
  @include flex();
  margin-top: 20px;
  background: white;
  border-radius: $rounded;

  .image_block {
    @include backgroundImage('/assets/dev/square.png');
    @include size(20%);
    @include padding(20px, 20px);
    box-sizing: border-box;

    .title {
      font-size: 20px;
      margin-bottom: 22px;
      font-weight: bold;
    }

  }

  .recommended_items {
    @include size(80%);
    @include grid(4, 2);

    .item {
      @include padding(16px, 20px);
      border: $br $light;
      position: relative;
      @include itemHover;

    }
  }
}
