@use 'shared/css/common.scss' as *;

.container{
  @include size(50%);
  @include flex(center,center);
}

.search {
  @include size(65%, 38px);
  display: flex;

  .search_input {
    @include size(100%, 100%);
    font-size: 16px;
    border: 1px solid $link-color;
    background: $bg-absolute;
    padding-left: 10px;
    border-radius: 8px 0 0 8px;
    color: $color-absolute;
    border-right-width: 0;
    &::placeholder{
      color: $color-absolute;
    }
  }

  button {
    border-radius: 0 8px 8px 0;
  }

  @media (max-width: 880px) {
    display: none;
  }
}

.mobile_search {
  position: relative;
  @include size(90%, 40px);
  margin: 0 auto 12px;

  input {
    @include size;
    border-radius: $rounded;
    background: #F7FAFC;
    color: $bg-300;
    position: relative;
    border: $br $bg-150;
    outline: none;
    padding-left: 36px;

  }

  svg {
    @include absolute(9px, 8px, 1);
    @include size(22px, 22px);
    color: $bg-300;
  }
}
