@use 'shared/css/common.scss' as *;


.post {
  width: 100%;
  min-height: 157px;
  padding: 25px 25px 25px 25px;
  position: relative;
  display: flex;

  * {
    //@include testBorder;
  }

  border-bottom: $br $bg-150;
  box-sizing: border-box;

  .user_image {
    @include imageWrapper(60px, 60px, 100%);
    margin-right: 10px;
  }

  .user_info {
    width: 90%;
    margin-left: 7px;

    .user_name {
      span:first-child{
        font-weight: bold;
      }


      span:last-child{
        @include inlineStyles($small, $bg-300, normal);
      }
    }

    .post_text {
      margin-top: 7px;
      font-size: 17px;
      line-height: 23px;
      max-width: 50%;
    }

    .attached_image {
      @include imageWrapper(80%, 300px, $rounded);
      margin-top: 15px;

      margin-bottom: 15px;
    }

    .post_buttons {
      display: flex;
      width: 100%;
      height: 26px;

      button {
        background: $bg-absolute;
        @include inlineStyles($small, $bg-300);
        padding: 0;
        @include flex(center, center);

        svg {
          margin-right: 4px;
          @include size(20px, 20px);
        }

        margin-right: 35px;
      }
    }
  }

  .options {
    position: absolute;
    right: 30px;
    top: 15px;

    svg {
      @include size(18px, 18px);
    }
  }
}


.comments {
  width: 95%;
  margin-left: 45px;

  .post {
    border-left: $br $bg-150;

    .attached_image {
      height: 200px;
      width: 60%;
    }
  }

  h4 {
    background-image: linear-gradient(to left, $link-color, $link-color);
    cursor: pointer;
    margin-top: 5px;
  }
}
