@use 'shared/css/common.scss' as *;

.messenger_aside {
  @include size(22%, 720px);
  background: $bg-absolute;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  border-right: $br $bg-150;
  @include customScroll;

}

