@use 'shared/css/mixins' as *;


.send {
  margin-left: 16px;
  position: absolute;
  top: 15px;
  right: 25px;

  svg {
    color: #8BABD8;
    @include size(26px, 26px);
    transition: color 200ms;

    &:hover {
      color: #789CCE;
    }
  }
}
