@use 'shared/css/common.scss' as *;


.user_info_wrapper {
  position: relative;
  width: 20%;
  display: flex;
  cursor: pointer;
}

.image {
  @include  imageWrapper(48px, 48px, 100%);
  margin-right: 17px;
}

.info {
  @include size(75%, 48px);

  span {
    color: $bg-300;
    display: block;
    font-size: 15px;
    width: 90%;
  }
}
