@use 'shared/css/common.scss' as *;


.controls {
  border: 1px solid $bg-150;
  padding-left: 19px;
  padding-right: 19px;
  margin-bottom: 20px;
  border-radius: 6px;
  background: $bg-absolute;
  color: $color-absolute;

  @include size(100%, 56px);
  @include itemHover;
  @include flex(space-between, center);

  @media (max-width: 1334px) {
    margin-top: 25px;
  }

  @media (max-width: 750px) {
    box-sizing: border-box;
  }

  @media (max-width: 508px) {
    padding: 0;
  }

  .controls_title {
    @include size(40%);
    @include flex(stretch, center);

    @media (max-width: 670px) {
      *{
      font-size: 14px;
      }

      width: max-content;
      white-space: nowrap;
    }

    @media (max-width: 508px) {
      margin-left: 10px;
    }

    .bold {
      font-weight: bold;
    }
  }

  .controls_buttons {
    @include size(43%);

    margin-right: 30px;

    @include flex(flex-end, center);

    gap: 18px;

  }

  select {
    border: 1px solid $bg-150;
    border-radius: 4px;
    height: 35px;
    width: 110px;
  }
}
