@use 'shared/css/common.scss' as *;


.product_images {
  margin-right: 20px;
  min-height: 240px;
  width: 260px;
  margin-left: 50px;
  margin-top: 30px;
  //@include testBorder;

  .image_wrapper {
    @include imageWrapper(260px,240px,12px);
    border: 1.5px solid #d7d7d7;
    border-radius: $rounded;
    cursor: pointer;
  }

}
