@use 'shared/css/common.scss' as *;

.link {
  a {
    background-image: linear-gradient(to right, $link-color, $link-color 50%,
            $link-color 50%) !important;
    font-size: $small;

    svg {
      color: $link-color;
    }
  }
}
