@use 'styles/variables' as *;

.you_may_like {
	@include itemBorder;
	@include size(19%, 553px);
	margin-left: 20px;
	@include padding(16px, 20px);

	.heading {
		font-weight: bold;
		margin-bottom: 14px;
	}

	.item {
		@include size(90%, 80px);
		display: flex;
		margin-top: 20px;

		.image_wrapper {
			@include size(90px, 80px);
			margin: 0;
			margin-right: 11px;
			position: relative;
		}

		.info_block {
			span {
				display: block;
				color: $light-grey;
				margin-top: 4px;
			}
		}
	}
}
