@use 'shared/css/mixins.scss' as *;

.categories {
  @include size(100%, 400px);
  //@include testBorder;

  * {
    //@include testBorder;
  }

  @include flex(space-around, center);

  margin-top: 20px;
  background: white;
  border-radius: 8px;

  & div {
    height: 92%;
  }

  .image_block {
    @include backgroundImage("/electronic_prewiew.svg", 99%);
    width: 60%;
    position: relative;
    padding-left: 45px;
    border-radius: 8px;

    .subtitle {
      margin-top: 53px;
      margin-bottom: 5px;
      font-size: $medium;
    }

    .title {
      margin-bottom: 19px;
      font-size: $lmedium;
      font-weight: bold;
    }

  }

  .login_block {
    width: 16%;

    .user_block {
      @include size(100%, 150px);
      border-radius: 6px;
      background: $light-blue;
      padding-top: 17px;

      .user_block_container {
        @include size(93%, 48px);

        margin: 0 auto;
        @include flex(space-between);

        .hi_user {
          height: 38px;
          margin-bottom: 17px;
          @include flex();
          align-items: center;

          img {
            @include size(47px, 47px);
            border-radius: 100%;
            margin-right: 10px;
          }

          .user_title {
            font-size: $small;
            @media (max-width: 1308px) {
              font-size: 14px;
            }
          }
        }


      }

      button {
        margin: 0 auto;
        margin-top: 10px;

        &[class*="outlined_button"] {
          color: $blue;
        }

        @include size(90%, 30px);
      }


    }

    .card, .greenCard {
      @include size(calc(100% - 16px), 80px);
      border-radius: 6px;
      background: #F38332;
      color: white;
      margin-top: 10px;
      padding-top: 16px;
      padding-left: 16px;
      cursor: pointer;

      h4 {
        font-size: $small;
        color: white;
      }
    }

    .greenCard {
      background: #55BDC3;
    }
  }
}

