@use 'shared/css/common.scss' as *;

.categories {
  @include size(100%, 400px);
  //@include testBorder;

  * {
    //@include testBorder;
  }

  @include flex(space-around, center);

  margin-top: 20px;
  background: $bg-absolute;
  border-radius: 8px;

  & > div {
    height: 92%;
  }

  .image_block {
    //@include backgroundImage("/assets/dev/electronic_prewiew.svg", 99%);
    background-size: 99%;
    background-repeat: no-repeat;
    width: 60%;
    position: relative;
    padding-left: 45px;
    border-radius: 8px;

    .subtitle {
      margin-top: 53px;
      margin-bottom: 5px;
      font-size: $medium;
      text-shadow: 2px 1px 2px $bg-absolute;
    }

    .title {
      margin-bottom: 19px;
      font-size: $l-medium;
      font-weight: bold;
      text-shadow: 2px 1px 2px $bg-absolute;
    }

  }

  .login_block {
    width: 16%;

    .user_block {
      width: 100%;
      border-radius: 6px;
      background: $link-color-light;
      padding-top: 13px;
      padding-bottom: 3px;
      box-sizing: border-box;
      //min-height: 58px;
      max-height: 170px;

      .user_block_container {
        @include size(93%, 48px);

        margin: 0 auto;
        @include flex(space-between, center);

        .hi_user {
          height: 38px;
          margin-bottom: 17px;
          @include flex();
          align-items: center;
          .image_wrapper{
            @include imageWrapper(44px,44px,100%);
            margin-right: 9px;
          }

          img {
            @include size(47px, 47px);
            border-radius: 100%;
            margin-right: 10px;
          }

          .user_title {
            font-size: $small;
            color: black;
            @media (max-width: 1308px) {
              font-size: 14px;
            }
          }
        }


      }

      button {
        margin: 10px auto 10px;

        &[class*="outlined_button"] {
          color: $link-color;
          margin-bottom: 20px;
        }

        @include size(90%, 30px);
      }


    }

    .card, .greenCard {
      @include size(calc(100% - 16px), 71px);
      border-radius: 6px;
      background: #F38332;
      color: $color-absolute;
      margin-top: 10px;
      padding-top: 16px;
      padding-left: 16px;
      cursor: pointer;

      h4 {
        font-size: $small;
        color: $color-absolute;
      }
      svg{
        @include size(18px,18px);
        margin-bottom: -4px;
      }
    }

    .greenCard {
      background: #55BDC3;
    }
  }
}

