@use 'shared/css/common.scss' as *;

.categories {
  @include size(100%, 400px);
  @include flex(space-around, center);

  margin-top: 20px;
  background: $bg-absolute;
  border-radius: 8px;

  & > div {
    height: 92%;
  }
  @media (max-width: 922px) {
    height: 250px;
  }
  @media (max-width: 676px) {
    height: 210px;
  }
  @media (max-width: 900px) {
    border-radius: 0;

  }
  @media (max-width: 488px) {
    height: 180px;
    margin-top: 10px;
  }

  .image_block {
    background-size: cover;
    background-repeat: no-repeat;
    width: 60%;
    position: relative;
    padding-left: 45px;
    border-radius: 8px;
    @media (max-width: 1052px) {
      width: 70%;
    }
    @media (max-width: 922px) {
      height: 100% !important;
      width: 65%;
    }
    @media (max-width: 634px) {
      width: 100%;
    }
    @media (max-width: 900px) {
      border-radius: 0;
    }

    .subtitle {
      margin-top: 53px;
      margin-bottom: 5px;
      font-size: $medium;
      text-shadow: 2px 1px 2px $bg-absolute;
      @media (max-width: 922px) {
        font-size: 23px;
      }
      @media (max-width: 676px) {
        font-size: 20px;
      }
      @media (max-width: 488px) {
        margin-top: 35px;
      }
      @media (max-width: 558px) {
        color: $bg-absolute;
        text-shadow: 2px 1px 2px $color-absolute;
      }
      @media (max-width: 400px) {
        font-size: 17px;
      }
    }

    .title {
      margin-bottom: 19px;
      font-size: $l-medium;
      font-weight: bold;
      text-shadow: 2px 1px 2px $bg-absolute;
      @media (max-width: 922px) {
        font-size: 27px;
      }
      @media (max-width: 676px) {
        font-size: 24px;
      }
      @media (max-width: 558px) {
        color: $bg-absolute;
        text-shadow: 2px 1px 2px $color-absolute;
      }
      @media (max-width: 400px) {
        font-size: 20px;
      }
    }
    button{
      @media (max-width: 800px) {
        height: 33px;
        font-size: 15px;
      }
      @media (max-width: 676px) {
        font-size: 13px;
        height: 28px;
      }
      @media (max-width: 400px) {
        height: 25px;
        font-size: 11px;
      }
    }

  }

  .login_block {
    width: 16%;
    @media (max-width: 1052px) {
      display: none;
    }
    .user_block {
      width: 100%;
      border-radius: 6px;
      background: $link-color-light;
      padding-top: 13px;
      padding-bottom: 3px;
      box-sizing: border-box;
      //min-height: 58px;
      max-height: 170px;

      .user_block_container {
        @include size(93%, 48px);

        margin: 0 auto;
        @include flex(space-between, center);

        .hi_user {
          height: 38px;
          margin-bottom: 17px;
          @include flex();
          align-items: center;
          .image_wrapper{
            @include imageWrapper(44px,44px,100%);
            margin-right: 9px;
          }

          img {
            @include size(47px, 47px);
            border-radius: 100%;
            margin-right: 10px;
          }

          .user_title {
            font-size: $small;
            color: black;
            @media (max-width: 1308px) {
              font-size: 14px;
            }
          }
        }


      }

      button {
        margin: 10px auto 10px;

        &[class*="outlined_button"] {
          color: $link-color;
          margin-bottom: 20px;
        }

        @include size(90%, 30px);
      }


    }

    .card, .greenCard {
      @include size(calc(100% - 16px), 71px);
      border-radius: 6px;
      background: #F38332;
      color: $color-absolute;
      margin-top: 10px;
      padding-top: 16px;
      padding-left: 16px;
      cursor: pointer;

      @media (max-width: 1052px) {
        display: none;
      }

      h4 {
        font-size: $small;
        color: $color-absolute;
        @media (max-width: 1232px) {
          font-size: 15px;
        }
        @media (max-width: 1126px) {
          font-size: 13px;
        }
      }
      svg{
        @include size(18px,18px);
        margin-bottom: -4px;
      }
    }

    .greenCard {
      background: #55BDC3;
    }
  }
}

