@use 'shared/css/common.scss' as *;

.content_buttons {
  @include size(100%, 40px);
  @include flex(flex-start, center);
  padding-bottom: 10px;
  border-bottom: $br $bg-150;
  position: relative;
  .content_button{
    @media (max-width: 694px) {
      font-size: 16px;
      svg{
        @include size(15px, 15px);
      }
      height: 30px;
    }
    @media (max-width: 506px) {
      margin-right: 1px;
      font-size: 13px;
      svg{
        @include size(13px, 13px);
      }
    }
  }

  button {
    background: $bg-absolute;
    font-size: 16px;
    color: $bg-300;
    transition: color 200ms;
    margin-right: 10px;
    border-radius: $rounded;
    height: 28px;

    &:hover {
      color: $link-color;
    }

    svg {
      @include size(18px, 18px);
    }
    @media (max-width: 784px) {
      span{
        display: none;
      }
      min-width: 40px !important;
      height: 40px;
    }

  }

  .add_product {
    display: flex;
    gap: 15px;
    position: absolute;
    right: 0;
    top: 0;
    @media (max-width: 520px) {
      gap: 0px;
      top: 3px;
      justify-content: flex-end;
    }

    button {
      min-width: 167px;
      height: 33px;
      @media (max-width: 520px) {
        gap: 0px;
        top: 3px;
        margin-right: 0;
      }

      svg {
        @include size(16px, 16px);
        margin-right: 2px;
      }
      color: $bg-100;
    }
  }

  .selected {
    box-shadow: $shadow;
    border: $br $bg-150;
    color: $link-color;
  }
}
