@use 'shared/css/common.scss' as *;

.item {
  padding: 18px;
  height: 310px;
  width: 250px;
  background: $bg-absolute;
  border-radius: $rounded;
  border: $br $bg-150;

  @include itemHover;

  box-shadow: $shadow;

  @media (max-width: 1608px) {
    width: 220px;
    height: 280px;
  }

  @media (max-width: 1454px) {
    width: 200px;
    height: 270px;
  }

  @media (max-width: 870px) {
    width: 160px;
    height: 230px;
    padding: 13px;
  }

  @media (max-width: 500px) {
    width: 110px;
    height: 180px;
  }

  .price, .item_description {
    display: inline-block;
    width: 90%;
  }

  .price {
    margin-top: 23px;
    margin-left: 20px;
    font-weight: bold;
    color: $bg-100;
  }

  .item_description {
    margin-top: 6px;
    color: $bg-300;
    margin-left: 20px;

    @media (max-width: 504px) {
      font-size: 14px;
      width: 75%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .image_wrapper {
    @include imageWrapper(168px, 178px, $rounded);

    margin: 0 auto;

    @media (max-width: 504px) {
      width: 100px;
      height: 100px;
    }

    @media (max-width: 870px) {
      width: 120px;
      height: 120px;
    }

    @media (max-width: 504px) {
      width: 80px;
      height: 80px;
    }
  }

}
