@use 'shared/css/common.scss' as *;

.item {
  @include flex(stretch, center, column);
  @include padding(10px, 9px);
  height: 310px;
  background: white;
  border-radius: $rounded;
  border: $br $light;
  @include itemHover;
  box-shadow: $shadow;

  .price, .item_description {
    display: inline-block;
    width: 90%;
  }

  .price {
    margin-top: 16px;
    font-weight: bold;
  }

  .item_description {
    margin-top: 6px;
    color: $light-grey;
  }

  .image_wrapper {
    @include imageWrapper(90%, 200px);
    margin: 0 auto;
  }
}
